*{
    margin: 10px;
    /* border: 2px solid black; */
    /* background-color: #bc6c25; */
}
i{
    font-size: 28px;
    font-weight: bold;
}
.todolist{
    /* background-color: #dda15e; */
    /* border: 2px solid black; */
height: 300px;
width: 450px;
margin-top: 30px;

}

input{
    font-size: 28px;
background-color: #90e0ef;
    height: 30px;
    width: 220px;
    outline: none;
    border-radius: 7px;
}
button{
    font-size: 28px;
background-color: #90e0ef;
    border-radius: 7px;
}
.container{
    width: 660px;
    display: flex;
}